body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: grid; 
    justify-content: center;
    align-items: center;
}

.rectangle {
    padding: 16px 16px 40px 16px;
    box-shadow: 0px 10px 20px rgb(56, 136, 255, 0.2);
    width: 320px;
    height: 497px;
    background: #fff;
    border-radius: 20px;
}

.rectangle img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    max-width: 288px;
    text-align: center;
    margin: auto;
}

.title {
    color: #1F314F;
}

.description {
    color: #7D889E;
    font-weight: 400;
    letter-spacing: 0.19px;
}

.attribution { 
    font-size: 16px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.attribution img {
    align-items: center;
    width: 75px;
}
